<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    \#parse("sys/header.html")
##    \ 是转义字符
    <style>
        .ivu-form-item-content{
            width: 80%;
        }
    </style>
</head>
<body>
<div id="rrapp" style="margin: 20px" v-cloak>
        <div style="display: flex;flex-direction: column;">
            <div style="display: flex;flex-direction: row-reverse;">
                <i-button type="primary" @click="add">新增</i-button>
                <Modal v-model="modal1" @on-ok="ok" @on-cancel="cancel" >
                    <p slot="header" >
                        <span>{{modal1title}}</span>
                    </p>
                    <div>
                        <i-form :model="formData" ref="formData"  :rules="ruleValidate" :label-width="90">
                            #foreach($column in $columns)
                                <Form-Item label="${column.comments}" prop="${column.attrname}" style="display: flex;flex-direction: row;width: 100%;">
                                    <i-input  v-model="formData.${column.attrname}" placeholder="请输入${column.comments}" style="width: 80%;" :min="0"></i-input>
                                </Form-Item>
                            #end
                        </i-form>
                    </div>
                    <div slot="footer">
                        <i-button type="text" size="large" @click="cancel">取消</i-button>
                        <i-button type="primary" size="large" @click="ok">确定</i-button>
                    </div>
                </Modal>
            </div>
            <div style="margin-top: 5px;" id="table_div">
                <i-table border stripe :columns="columns1" :data="data1">
                </i-table>
                <div style="float:right;margin-top: 5px;">
                    <Page :total="total" :current="queryPage.page" :page-size="queryPage.size" :page-size-opts="pageOpts" show-sizer @on-change="handlePage" @on-page-size-change="handleSize"></Page>
                </div>
            </div>
        </div>
</div>
</body>
<script src="${rc.contextPath}/js/${className}/${className}.js?_${date.systemTime}"></script>
</html>